.panel.span7
  .pull-left= image_tag('review_star.png')
  .review        
    Reviews and Guarantees
  .clear
  .title Customers reviews
  %b Allen Malkoc
  .comments       
    I own a local moving company in Austin, TX,
    in the past I have used several auto transport
    companies to transport clients cars across
    the states. I found Montway While...
    .link= link_to "Read more", "#"

  .title Help
  %br
  .pull-left= image_tag('help_question_mark.png')
  .help
    Got Questions ?
    .link= link_to "Click for answers", "#"
  .clear

  .pull-left= image_tag('help_phone.png')
  .help
    Call For Assistance
    %br
    %b 856-834-8878

  .clear
  .title Gaurantees
  = image_tag('gaurantees.png')
  .clear
