.footer
  .footer_top
    .container
      .row
        .span17
          .row
            .span3
              %ul
                %li.head Renty
                %li Home
                %li Privacy
                %li Partners
                %li News
            .span3
              %ul
                %li.head About
                %li Latest News
                %li= link_to "Press release", "#"
                %li careers
                %li Terms of Use
            .span4
              %ul
                %li.head Support
                %li Contact Us
                %li Find Your Voice
                %li FAQ
            .span5
              %ul
                %li.head 
                  .icon-twitter
                  Recent tweets
                %li
                  = link_to "@bestwebsoft", "#" 
                  velit, vitae tincidunt
                %li orci. Pron vitae auctor lectus.
                %li= link_to "http://bestwebsoft"
                %li.posted posted 2 days ago
        .span7
          .support
            .span2= image_tag('support_icon.png')
            .span4
              .online Online support
              .number +1 (555) 555 - 28 -28
              .link= link_to "sales@bestwebsoft.com", "#"
  .footer_bottom
    .container
      .row
        .span4= image_tag('logo.png')
        .span20.copywrite
          Renty Company Inc, 120 CA 15th Avenue - Suite 214
