- # Header Part
.header
  .container
    .row
      .span6= image_tag('logo.png')
      .span14.menu
        %ul
          %a.active(href="")
            %li Help
          %a(href="")
            %li Terms & Conditions
          %a(href="")
            %li About
          %a(href="")
            %li Contact us
      .span4.menu1
        - if current_user
          = current_user.email          
          = link_to "logout", destroy_user_session_path, {style: "color:#000;", method: "delete"}
        - else  
          = link_to "Sign in", "#", html_options = {class: "nbtn pull-right sign_in", "data-toggle" => "modal", :href => "#sign_in"}
          = link_to "Register", "#", html_options = {class: "nbtn pull-right"}
